# ==========================
# Python
# ==========================
backend/venv/
backend/__pycache__/
*.py[cod]

# ==========================
# Node
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# Environment Variables
# ==========================
.env
environments/local/.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
